body {
  font-family: 'Raleway', sans-serif;
}

.tag {
  font-size: 12px;
  font-weight: 600;
}

h3 {
  font-family: Raleway;
  font-size: 24px;
  font-weight: 600;
}
p {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 150%;
}
button {
  font-weight: 600;
}